{% extends "base.html" %}

{% block content %}

<h2 class="mb-4">Dashboard</h2>

<div class="row">

    <div class="col-md-3">
        <div class="card shadow">
            <div class="card-body">
                <h5>Total Expense</h5>
                <h3>₹ {{ total_expense }}</h3>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card shadow">
            <div class="card-body">
                <h5>Total Income</h5>
                <h3>₹ {{ total_income }}</h3>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card shadow">
            <div class="card-body">
                <h5>Balance</h5>
                <h3>₹ {{ balance }}</h3>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card shadow">
            <div class="card-body">
                <h5>Health Score</h5>
                <h3>85%</h3>
            </div>
        </div>
    </div>

</div>

{% endblock %}