{% extends "base.html" %}


{% block content %}


<h2 class="mb-4">
    Transactions
</h2>


<table class="table table-bordered table-hover">


<thead class="table-dark">

<tr>

<th>ID</th>

<th>Merchant</th>

<th>Amount</th>

<th>Category</th>

<th>Date</th>

</tr>

</thead>



<tbody>


{% for tx in transactions %}


<tr>


<td>
{{ tx.id }}
</td>


<td>
{{ tx.merchant }}
</td>


<td>
₹ {{ tx.amount }}
</td>


<td>
{{ tx.category }}
</td>


<td>
{{ tx.date }}
</td>


</tr>


{% endfor %}


</tbody>


</table>


{% endblock %}